html {
	scroll-behavior: smooth;
}

body {
    font-family: Work Sans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #5d5d5d;
    -webkit-font-smoothing: antialiased;
}

.top-section{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
	padding-top: 20px;
}
.navbar .logo{
    width: 30%;
}
.rightnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;

}
.hero-section {
    padding-top: 50px;
}
.hero-section h1 {
    width: 65%;
    margin-top: 1.25em;
    margin-bottom: 2.5em;
    line-height: 50px;
    font-size: 30px;
}
.hero-section a {
    color: #F26101;
    text-decoration: none;
}
.workexp {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.leftwork {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.rightwork {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.work-image{
	width: 30%;
}
.work-image img {
	width: 100%;
	height: auto;
	transition: all .2s ease-in-out;
}
.work-image img:hover {
	transform: translateY(-2px);
}
#projects {
	background: #fbfbfb;
}
#projects h4 {
	text-align: center;
    padding-top: 30px;
}
.featuredwork {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.project{
	width: 40%;
	margin: 20px 0px 20px 0px;
}
.project:hover {
	transform: translateY(-2px);
    box-shadow: 0 8px 14px rgba(93,93,93,.1);
}
.colored-background1 {
	width: 100%;
	background-color: #9DD0FF;
	height: 300px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.colored-background2 {
	width: 100%;
	background-color: #B3A691;
	height: 300px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.project-name {
	text-align: center;
	padding: 10px 0px 10px 0px;
	background-color: #ffffff;
}
.project img {
	width: 80%;
}
.rightnav a {
	text-decoration: none;
	color: #5d5d5d;
}
a:hover {
	color: #FFA700;
}
#greeting {
	font-size: 30px;
}
.morning {
	color: rgb(255,166,0);
}
.afternoon {
	color: lightskyblue;
}
.night {
	color: darkslateblue;
}

@media(max-width: 991px) {
	.featuredwork {
		flex-direction: column;
	}
}